<!-- this must be wrapped in: <ul class="collapsible" data-collapsible="accordion"></ul> -->
<!-- task-<task.id > must stay in third class position -->
<li id="task-<%= task.id %>" data-complete="<%= task.complete %>" data-id="<%= task.id %>" class="task task_container task-<%= task.id %> ">
	<div class="collapsible-header">
		<%= task.name %>
		<div class="switch">
			<label>
				<input type="checkbox" <%= (task.complete ? 'checked' : '') %>>
				<span class="lever"></span>
				Complete
			</label>
		</div>
	</div>
  <div class="collapsible-body">
  	<span class="row">
  		<div class="col s6">
  		    	<p><%= task.description %></p>
  		    	<p><%= task.deadline %></p>
  		</div>
  		<span class="col s6">
  			<% task.task_users.each do |assignment| %>
  				<p class="task_assignment"><%= assignment.user.name %></p>
  			<% end %>
  		</span>
			<span class="col 12">
				<p><strong>Assign Users To Task</strong></p>
				<%= form_with model: task, class: "update_team" do |f| %>  
          <p><em>Uncheck team members you would like to remove</em></p>
          <%= f.collection_select(:user_ids, @users, :id, :name, {prompt: true}, {multiple: true}) %>
          <%= f.submit "Update Team", class: 'btn' %>
        <% end %>
			</span>
  	</span>
	</div>
  <div class="card-action">
      <%= link_to "Edit", '#modal_task', class: "modal-trigger" %>
      <%= link_to "Delete", task, method: :delete, remote: :true, class: "destroy_task float_right" %>
  </div>
</li>
<!-- Edit task modal -->
<div id="modal_task" class="modal">
  <div class="modal-content">
    <%= form_with model: task, class: "update_task" do |f| %>
      <%= f.text_field :name, placeholder: :name %>
      <%= f.text_field :description, placeholder: :description %>
      <%= f.date_field :deadline, placeholder: :deadline %>
      <%= f.collection_select(:user_ids, @users, :id, :name, {prompt: true}, {multiple: true}) %>
      <div class="modal-footer">
        <%= f.submit class: 'modal-close' %>
      </div>
    <% end %>
  </div>
</div>

