<!-- this must be wrapped in: <ul class="collapsible" data-collapsible="accordion"></ul> -->

<li id="task-<%= task.id %>" data-complete="<%= task.complete %>" data-id="<%= task.id %>" class="task_container">
  <div class="collapsible-header">
  	<%= task.name %>
  	<div class="switch">
    <label>
      <input type="checkbox" <%= (task.complete ? 'checked' : '') %>>
      <span class="lever"></span>
      Complete
    </label>
    </div>
   </div>
  <div class="collapsible-body">
  	<span>
    	<p><%= task.description %></p>
    	<p><%= task.deadline %></p>
  	</span>
	</div>
  <div class="card-action">
      <%= link_to "Edit", edit_task_path(task) %>
      <%= link_to "Delete", task, method: :delete, remote: :true, class: "destroy_task float_right" %>
  </div>
</li>

