<div class="container-fluid">
   <!-- This is collumn 1- info about the user and any action buttons -->
  <div class="row">
    <div class="col">
      <h1><%= @user.name %>'s Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3">
      <div class="card blue-grey lighten-5">
        <div class="card-content dark-text">
          <%= image_tag @user.avatar.url(:thumb), class: "circle center" %>
          <span class="card-title">Welcome <%= @user.first_name %></span>
          <p><%= @user.email %></p>
          <p><%= @user.occupation %></p>
          <% if @user.department %>
            <h5>My Department</h5>
            <%= link_to @user.department.name, department_path(@user.department) %>
            <p><%=  %></p>
          <% end %>
        </div>
        <div class="card-action">
          <%= link_to "Edit account", edit_user_registration_path %>
          <br>
        </div>
      </div>
    </div> <!-- end of column -->
  <!--   Collumn 2 - My projects. Should loop through and display cards from each project that belongs to that person -->
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-content dark-text">
          <span class="card-title">Projects</span>
          <div class="row">
             <% @projects.each do |project| %>
              <%= render project %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <!-- Collumn 3 - my tasks. Should loop through every task that belongs to that person -->
    <!-- Person's points!! -->
    <div class="col s12 m3">
      <div class="card blue-grey lighten-5">
        <div class="card-content" id="points_display">
          <%= render 'users/points' %>
        </div>
      </div>
      <div class="card blue-grey lighten-5">
        <div class="card-content">
          <span class="card-title dark-text">My Tasks</span>
            <ul class="collapsible" data-collapsible="accordion">
              <% @tasks.each do |task| %>
                <%= render task, class: "collection-item task-#{task.id} " %>
              <% end %>
            </ul> 
        </div>
      </div>
    </div>
  </div>
</div>
