<!-- Collumn 1 - shows all dept info and action items to be taken on this dash -->
<div class="row">
  <div class="col">
    <h1><%= @department.name %> Department</h1>
  </div>
</div>
<div class="row">
  <div class="col s12 m3">
    <div class="card blue-grey lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Department: <%= @department.name %></span>
        <%= link_to "Edit Department", edit_department_path(@department) %>
        <br>
        <%= link_to "Delete Department", @project, method: :delete, class: "destroy_project" %>
      </div>
      <div class="card-action">
        <%= link_to "Create Project", '#modal1', class: "modal-trigger" %>
        <br>
      </div>
    </div>
  </div>
  <!-- modal for creating projects -->
  <%= render 'modal' %>
  
  <!-- Collumn 2 - should loop through every project that belongs to this department -->

  <!-- start of the projects showing -->
  <div class="col s12 m6">
    <div class="card blue-grey lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Projects</span>
        <div class="row">
           <% @projects.each do |project| %>
            <%= render project %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- collumn 3- should loop through and show every employee that belongs to this department as well as show team points -->
  <!-- Team points -->
  <div class="col s12 m3">
    <div class="card blue-grey lighten-5">
      <div class="card-content">
        <span class="card-title black-text">Team Points</span>
          
      </div>
    </div>
  </div>
  <!-- team -->
  <div class="col s12 m3">
    <div class="card blue-grey lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Team</span>
        <ul class="collapsible" data-collapsible="accordion">
          <% @users.each do |user| %>
            <%= render user %>  <!-- current push -->
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
