<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h4>New Project</h4>
		</div>
	</div>
	<div class="row">
		<%= form_with model: @project_new, class: "col s12" do |f| %>
			<%= f.hidden_field :department_id, value: department.id %>
			<%= f.text_field :name, placeholder: :name %>
			<%= f.text_field :description, placeholder: :description %>
			<%= f.date_field :deadline, placeholder: :deadline %>
			<%= f.collection_select(:user_ids, @users, :id, :name, {prompt: true}, {multiple: true}) %>
			<div class="modal-footer">
				<%= f.submit "Submit", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
		  </div>
		<% end %>
	</div>
</div>

