<h1><%= @project.name %> Dashboard</h1>
  <div class="row">
    <div class="col s12 m3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Project: <%= @project.name %></span>
          <p><%= @project.description %></p>
          <p><%= @project.deadline %></p>
        </div>
        <div class="card-action">
          <%= link_to "Create Task", '#modal1', class: "waves-effect waves-light btn modal-trigger" %>
          <br>
          <%= link_to "Edit Tasks", task_path(:id) %>
        </div>
      </div>
    </div>
    <%= render 'modal' %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content black-text">
          <span class="card-title white-text">Tasks</span>
          <div class="row">
            <% @project.tasks.each do |task| %>
              <%= render task %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Team</span>
              add validations for manager
        <p>Manager: <%# user.name %></p>
      </div>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Employees</span>
          <ul class="collapsible" data-collapsible="accordion">
            <% @users.each do |user| %>
              <div class="collapsible-header black-text"><%= user.name %>
              </div>
              <div class="collapsible-body"><span>
                <p>Assign to Department</p>
                </span>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>